@media screen and (min-width: 768px) {
.navbar-toggler {
display: none;
}
}
/*For desktop*/
@media (min-width: 768px){
.content{
	background: pink;
	width: 98%;
	margin: 0 auto;
	border-radius: 10px;
	color: #281916;
}
#p1,#p2,#p3{
	padding: 10px;
	text-align: center;
}
/*for tablet*/
}
@media (min-width: 576px){
.content{
	background: pink;
	width: 98%;
	margin: 0 auto;
	border-radius: 10px;
	color: #281916;
}
#p1,#p2,#p3{
	padding: 10px;
	text-align: center;
}
}
/*for mobile*/
@media (max-width: 576px){
.content{
	background: pink;
	width: 98%;
	margin: 0 auto;
	border-radius: 10px;
	color: #281916;
}
#p1,#p2,#p3{
	padding: 10px;
	text-align: center;
}
}
